Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  concurrency-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-narrowing-conversions,
  misc-*,
  modernize-use-nullptr,
  performance-*,
  portability-*
WarningsAsErrors: >
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-narrowing-conversions,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-misplaced-widening-cast,
  bugprone-narrowing-conversions,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  bugprone-suspicious-memory-comparison,
  bugprone-unchecked-optional-access,
  bugprone-use-after-move
HeaderFilterRegex: '[/\\](src|tests|benchmarks)[/\\]'
SystemHeaders: false
FormatStyle: file
